---
let { title, label } = Astro.props
---

<form class="flex p-8 justify-center">
  <div
    class="md:max-w-1/2 grid gap-2 rounded-xl p-8 bg-gradient-to-br from-words-300 to-accent-300 dark:from-words-700 dark:to-accent-700 w-full text-words-50 dark:text-initial"
  >
    <h2 class="text-2xl text-center text-black dark:text-white">
      {title}
    </h2>
    <slot />
    <button
      class="text-sm bg-behind-50 dark:bg-behind-950 p-2 rounded-sm text-words-950 dark:text-words-50"
    >
      {label}
    </button>
  </div>
</form>
