---
import Hero from '../Hero.astro';
import About from '../About.astro';
import Info from '../info/Green.astro';

import Reviews from '../reviews/Main.astro';
import Form from '../forms/Welcome.astro';

const twClasses = `
	w-full
	flex
	flex-col
	gap-4
	md:gap-8
`
---

<Hero />
<div class={twClasses}>
	<About />
	<Reviews />
	<div id="support" class={twClasses}>
		<Form />
		<Info />
	</div>
</div>