---
import Main from './Main.astro';

import NineToFive from './NineToFive.astro';
import Closed from './Closed.astro';
---

<Main title="Hours">
    <NineToFive day="Monday" />
    <NineToFive day="Tuesday" />
    <NineToFive day="Wednesday" />
    <NineToFive day="Thursday" />
    <NineToFive day="Friday" />
    <Closed day="Saturday" />
    <Closed day="Sunday" />
</Main>