<div class="text-xs sm:text-sm md:text-base bg-primary-400/25 flex flex-col p-4 rounded-sm max-w-[500px]">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, necessitatibus.</p>
    <span class="w-full text-right font-sans">
        <p class="font-bold">- Lorem Ipsum</p>
        <p class="text-xs md:text-sm italic">01/01/2025</p>
    </span>
</div>