@import "tailwindcss";

@font-face {
    font-family: 'Salsa';
    src: url('/fonts/Salsa-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@theme {
    --font-sm: '0.750rem';
    --font-base: '1rem';
    --font-xl: '1.333rem';
    --font-2xl: '1.777rem';
    --font-3xl: '2.369rem';
    --font-4xl: '3.158rem';
    --font-5xl: '3.976rem';
    --font-salsa: 'Salsa';
  }  