@import "tailwindcss";

@theme {
    --color-words-50: oklch(95.42% 0.015 345.55);
    --color-words-100: oklch(90.92% 0.032 347.10);
    --color-words-200: oklch(81.87% 0.066 348.22);
    --color-words-300: oklch(72.99% 0.101 349.64);
    --color-words-400: oklch(64.48% 0.138 351.54);
    --color-words-500: oklch(56.76% 0.170 354.25);
    --color-words-600: oklch(48.36% 0.142 354.04);
    --color-words-700: oklch(39.59% 0.113 353.71);
    --color-words-800: oklch(30.33% 0.081 353.14);
    --color-words-900: oklch(20.35% 0.046 351.85);
    --color-words-950: oklch(15.05% 0.025 348.45);
    --color-behind-50: oklch(95.09% 0.027 344.63);
    --color-behind-100: oklch(90.09% 0.056 344.87);
    --color-behind-200: oklch(80.80% 0.114 346.59);
    --color-behind-300: oklch(72.43% 0.172 348.94);
    --color-behind-400: oklch(65.75% 0.220 352.14);
    --color-behind-500: oklch(61.35% 0.243 356.70);
    --color-behind-600: oklch(52.11% 0.205 356.46);
    --color-behind-700: oklch(42.30% 0.165 355.83);
    --color-behind-800: oklch(31.93% 0.121 354.71);
    --color-behind-900: oklch(20.74% 0.075 352.34);
    --color-behind-950: oklch(14.29% 0.048 348.36);
    --color-primary-50: oklch(95.06% 0.026 347.12);
    --color-primary-100: oklch(90.16% 0.053 345.97);
    --color-primary-200: oklch(80.76% 0.109 348.43);
    --color-primary-300: oklch(72.30% 0.165 350.53);
    --color-primary-400: oklch(65.41% 0.214 354.10);
    --color-primary-500: oklch(60.84% 0.238 358.79);
    --color-primary-600: oklch(51.62% 0.201 358.62);
    --color-primary-700: oklch(41.87% 0.160 357.56);
    --color-primary-800: oklch(31.68% 0.118 356.81);
    --color-primary-900: oklch(20.64% 0.071 353.40);
    --color-primary-950: oklch(14.29% 0.048 348.36);
    --color-secondary-50: oklch(94.90% 0.029 343.57);
    --color-secondary-100: oklch(90.03% 0.060 343.89);
    --color-secondary-200: oklch(80.73% 0.120 346.23);
    --color-secondary-300: oklch(72.50% 0.181 348.46);
    --color-secondary-400: oklch(66.16% 0.229 351.63);
    --color-secondary-500: oklch(62.21% 0.249 356.20);
    --color-secondary-600: oklch(52.81% 0.211 356.04);
    --color-secondary-700: oklch(42.82% 0.169 355.53);
    --color-secondary-800: oklch(32.24% 0.125 354.62);
    --color-secondary-900: oklch(20.85% 0.078 351.40);
    --color-secondary-950: oklch(14.58% 0.050 347.59);
    --color-accent-50: oklch(94.85% 0.031 347.05);
    --color-accent-100: oklch(89.79% 0.064 346.36);
    --color-accent-200: oklch(80.36% 0.130 349.07);
    --color-accent-300: oklch(72.40% 0.196 351.81);
    --color-accent-400: oklch(66.72% 0.242 356.03);
    --color-accent-500: oklch(63.89% 0.257 1.88);
    --color-accent-600: oklch(54.09% 0.217 1.59);
    --color-accent-700: oklch(43.85% 0.176 0.61);
    --color-accent-800: oklch(32.78% 0.131 359.20);
    --color-accent-900: oklch(20.89% 0.083 354.85);
    --color-accent-950: oklch(14.10% 0.059 349.05);
}  