---
import Protected from "../../components/Protection.astro"
import Welcome from "../../components/welcomes/GradientForm.astro"
---

<Protected title="Gradient Form Test Page">
  <div id="content" class="hidden">
    <Welcome />
  </div>
</Protected>
