---
import Protected from "../../components/Protection.astro"
import Welcome from "../../components/welcomes/Main.astro"
---

<Protected title="Leanna's Page">
  <div id="content" class="hidden">
    <Welcome />
    <nav class="w-full px-8">
      <h5>Test pages</h5>
      <ul
        class="flex flex-col border-t-4 border-accent-200 p-4 md:p-8 list-disc"
      >
        <li class="list-disc">
          <a href="/leanna/reviews/" class="text-accent-500"> Reviews </a>
        </li>
        <li class="list-disc">
          <a href="/leanna/gradient-form/" class="text-accent-500">
            Gradient Form
          </a>
        </li>
        <!-- <li class="list-disc">
          <a href="/leanna/multi-colored-accent/" class="text-accent-500">
            Multi-Colored Accents
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
</Protected>
