---
import Protected from "../../components/Protection.astro"
import Hero from "../../components/Hero.astro"
import About from "../../components/About.astro"
import Info from "../../components/Info.astro"
import DummySection from "../../components/reviews/DummySection.astro"

import Form from "../../components/forms/Welcome.astro"

import MommyAndBaby from "../../assets/mommyandbaby2.webp"
import Img from "../../components/Img.astro"
import Stars from "../../components/reviews/Stars.astro"

const twClasses = `
	w-full
	flex
	flex-col
	gap-4
	md:gap-8
`
---

<Protected title="Mock Review Test Page">
  <div id="content" class="hidden">
    <Hero />
    <div class={twClasses}>
      <About />
      <div class="flex flex-col gap-4 items-center text-words-50">
        <h2
          class="absolute text-2xl z-50 pt-6 sm:pt-14 text-center text-pretty p-4 sm:p-8 max-w-[400px]"
        >
          Discover Why Leanna's Helping Hands' Clients Love Her
        </h2>
        <Stars />
        <Img
          class="max-h-[275px] object-cover brightness-75 z-0"
          src={MommyAndBaby}
          alt="Mommy and Baby"
        />
      </div>
      <DummySection />
      <div id="support" class={twClasses}>
        <Form />
        <Info />
      </div>
    </div>
  </div>
</Protected>
