<p class="text-sm px-6 pb-8 md:p-0">
  I am a certified postpartum doula with a passion for nurturing parents and
  their newborns. My goal is to provide you with the emotional, physical, and
  educational support you need during this beautiful yet overwhelming journey.
</p>
