---
import Main from "../layouts/Main.astro"

let { title } = Astro.props
---

<Main title={title}>
  <div
    id="password-form"
    class="fixed inset-0 bg-white dark:bg-black bg-opacity-50 flex items-center justify-center"
  >
    <div class="bg-primary-200/25 p-8 rounded-lg border border-accent-200">
      <h2 class="text-2xl mb-4 text-accent-200">Enter Password</h2>
      <form id="auth-form" class="contents">
        <input
          type="password"
          name="password"
          class="border-2 focus:border-transparent p-2 mb-4 w-full rounded-sm text-black dark:text-white focus:bg-primary-500/50 outline-none border-accent-200/25 focus:ring-2 focus:ring-accent-400"
          required
        />
        <button
          type="submit"
          class="bg-primary-400 dark:bg-primary-600 hover:bg-primary-500 dark:text-white px-4 py-2 rounded-sm"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <slot />
  <script>
    const correctPassword = "Millie"

    const isAuthenticated = sessionStorage.getItem("leannas_device") === "true"
    if (isAuthenticated) {
      document.getElementById("content")?.classList.remove("hidden")
      document.getElementById("password-form")?.classList.add("hidden")
    }

    document
      .getElementById("auth-form")
      ?.addEventListener("submit", (e: SubmitEvent) => {
        e.preventDefault()
        const form = e.target as HTMLFormElement
        const password = (
          form.elements.namedItem("password") as HTMLInputElement
        ).value

        if (password === correctPassword) {
          sessionStorage.setItem("leannas_device", "true")
          document.getElementById("content")?.classList.remove("hidden")
          document.getElementById("password-form")?.classList.add("hidden")
        } else {
          ;(form.elements.namedItem("password") as HTMLInputElement).value = ""
        }
      })

    window.history.pushState(null, "", window.location.href)
    window.onpopstate = function () {
      window.history.pushState(null, "", window.location.href)
    }
  </script>
</Main>
