---
const twClasses = `
    text-2xl
    md:text-4xl
    text-center
    p-8
    bg-gradient-to-br
    from-words-100
    to-accent-600
    bg-clip-text
    text-transparent
`
---

<h2 class={twClasses}>
    <span>Meet Leanna</span>
</h2>