---
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Info from '../components/Info.astro';

import Reviews from '../components/reviews/Main.astro';
import Form from '../components/forms/Welcome.astro';

const twClasses = `
	w-full
	flex
	flex-col
	gap-4
	md:gap-8
`
---

<Hero />
<div class={twClasses}>
	<About />
	<Reviews />
	<div id="support" class={twClasses}>
		<Form />
		<Info />
	</div>
</div>