---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/orange.css';

const twClasses = `
	w-full
	text-words-950
	dark:text-words-50
	bg-behind-50
	dark:bg-behind-950
	font-salsa
	flex
	flex-col
`

import { getImage } from 'astro:assets'
import faviconSrc from '../assets/favicon.png'
import faviconSvgSrc from '../assets/favicon.svg'

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: 'png'
})
const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' })
---
<!doctype html>
<html lang="en" class="w-[100vw]">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" sizes="32x32" />
		<link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
		<link rel="apple-touch-icon" href={appleTouchIcon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>Leanna's Helping Hands</title>
	</head>
	<body class={twClasses}>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html {
		margin: 0;
		/* width: 100%; */
		overflow-x: hidden;
		max-width: 100vw;
		height: 100%;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
